\ &control
    calculation = 'scf'
    restart_mode='from_scratch',
    prefix='nio',
    pseudo_dir = '/home/dirac/tmcs/newc5616/wannier90-3.0.0/pseudo',
    outdir='./'
 /
 &system    
    ibrav=  1, celldm(1)= 7.893386, nat=  8, ntyp= 2, ecutwfc= 60, occupations= 'smearing', smearing= 'gaussian', degauss = 0.01
 /
 &electrons
    conv_thr =  1.0d-10, mixing_beta = 0.3D0
 /
ATOMIC_SPECIES
O  8 O_ONCV_PBE-1.0.upf
Ni 28 Ni_ONCV_PBE-1.0.upf

ATOMIC_POSITIONS {crystal}
O 0.0 0.0 0.0
O 0.0 0.5 0.5
O 0.5 0.0 0.5
O 0.5 0.5 0.0
Ni 0.5 0.5 0.5
Ni 0.0 0.0 0.5
Ni 0.0 0.5 0.0
Ni 0.5 0.0 0.0
K_POINTS {automatic}
 8 8 8  0 0 0
